/* Custom Stylesheet */


.container-ball {
    height: 5px;
    padding-top: 4vw; /*20px*/
	padding-bottom: 2vw; /*wasnt here*/
    margin: 0 auto;
	position: relative;
	word-spacing: 5vw; /*120px*/
	text-align:center;
	margin-top:2em;
	margin-bottom:2em; /*wasnt here*/
}

.whiteRectangle {
	width: 30em;
	height: 6em;
	background: red;
}

.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}


.artBrush2{	    
	-webkit-animation: artBrush-A 6s forwards;
    -moz-animation: artBrush-A 6s forwards;
    animation: artBrush-A 6s forwards ;	
	-webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/	
}

@-webkit-keyframes artBrush-A {
	0%{-webkit-transform: translate(0%);}
	0%{
		-webkit-transform: translate(0em,0px);
	}
    100% {
        -webkit-transform: translate(20em,0px) ;
    }
}
@-moz-keyframes artBrush-A {
	0%{-moz-transform: translate(0%) ;}
	0%{
		-moz-transform: translate(0em,0px);
	}
    100% {
        -moz-transform: translate(20em,0px) ;
    }
}
@keyframes artBrush-A {
	0%{transform: translate(0%);}
	0%{
		transform: translate(0em,0px);
	}
    100% {
        transform: translate(20em,0px);
    }
}


.rocketFar{	    
	-webkit-animation: rocketFar-A 6s forwards;
    -moz-animation: rocketFar-A 6s forwards;
    animation: rocketFar-A 6s forwards ;	
	-webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/	
}

@-webkit-keyframes rocketFar-A {
	0%{-webkit-transform: translateX(-40%) rotate(-50deg) translateX(200px) rotate(0deg);}
    100% {
        -webkit-transform: translateX(82%) rotate(70deg) translateX(70%) rotate(-30deg);
    }
}
@-moz-keyframes rocketFar-A {
	0%{-moz-transform: translateX(-40%) rotate(-50deg) translateX(200px) rotate(0deg);}
    100% {
        -moz-transform: translateX(82%) rotate(70deg) translateX(70%) rotate(-30deg);
    }
}
@keyframes rocketFar-A {
	0%{transform: translateX(-40%) rotate(-50deg) translateX(200px) rotate(0deg);}
    100% {
        transform: translateX(82%) rotate(70deg) translateX(70%)  rotate(-30deg);
    }
}

.rocketClose{	    
	-webkit-animation: rocketClose-A 3s forwards;
    -moz-animation: rocketClose-A 3s forwards;
    animation: rocketClose-A 3s forwards ;	
	-webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/	
}


@-webkit-keyframes rocketClose-A {
	0%{-webkit-transform: translateX(100%) ;}
    100% {
        -webkit-transform: translate(-20%,50em);
    }
}
@-moz-keyframes rocketClose-A {
	0%{-moz-transform: translateX(100%);}
    100% {
        -moz-transform: translate(-20%,50em);
    }
}
@keyframes rocketClose-A {
	0%{transform: translateX(100%);}
    100% {
        transform: translate(-20%,50em);
    }
}


.ball {
    width: 1.6vw; /*15px*/
    height: 0.15vw; /*4px*/
	padding-left:3vw; /*50px*/
    border-radius: 6vw; /*30px*/
}

.ball:nth-child(1) {
    background: #ffffff;
    -webkit-animation: right-b 1s  ease-in-out forwards;
    -moz-animation: right-b 1s  ease-in-out forwards;
    animation: right-b 1s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.ball:nth-child(2) {
    background: #ffffff;
    -webkit-animation: left-b 1.1s  ease-in-out forwards;
    -moz-animation: left-b 1.1s  ease-in-out forwards;
    animation: left-b 1.1s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.ball:nth-child(3) {
    background: #ffffff;
    -webkit-animation: right-b 1.05s  ease-in-outforwards;
    -moz-animation: right-b 1.05s  ease-in-out forwards;
    animation: right-b 1.05s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.ball:nth-child(4) {
    background: #ffffff;
    -webkit-animation: left-b 1.15s  ease-in-outforwards;
    -moz-animation: left-b 1.15s  ease-in-out forwards;
    animation: left-b 1.15s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.ball:nth-child(5) {
    background: #ffffff;
    -webkit-animation: right-b 1.1s  ease-in-out forwards;
    -moz-animation: right-b 1.1s  ease-in-out forwards;
    animation: right-b 1.1s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.ball:nth-child(6) {
    background: #ffffff;
    -webkit-animation: left-b 1.05s  ease-in-out forwards;
    -moz-animation: left-b 1.05s  ease-in-out forwards;
    animation: left-b 1.05s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;

}

.ball:nth-child(7) {
    background: #ffffff;
    -webkit-animation: right-b 1s  ease-in-out forwards;
    -moz-animation: right-b 1s  ease-in-out forwards;
    animation: right-b 1s  ease-in-out forwards;
	display: inline-block;
	animation-iteration-count: 2;
}

.dropped1{	    
    height: 5px;
    padding-top: 20px;
    margin: 0 auto;
	position: relative;
	word-spacing: 120px;
	text-align:center;
	margin-top:2em;
	-webkit-animation: drop-b 3s  forwards;
    -moz-animation: drop-b 3s  forwards;
    animation: drop-b 3s forwards ;	
}

@-webkit-keyframes drop-b {
    100% {
        -webkit-transform: translateY(-1500px);
    }
}
@-moz-keyframes drop-b {
    100% {
        -moz-transform: translateY(-1500px);
    }
}
@keyframes drop-b {
    100% {
        transform: translateY(-1500px);
    }
}


@-webkit-keyframes right-b {
    0% {
        -webkit-transform: translateY(-15px);
    }
    50% {
        -webkit-transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(-15px);
    }
}

@-webkit-keyframes left-b {
    0% {
        -webkit-transform: translateY(15px);
    }
    50% {
        -webkit-transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(15px);
    }
}

@-moz-keyframes right-b {
    0% {
        -moz-transform: translateY(-15px);
    }
    50% {
        -moz-transform: translateY(15px);
    }
    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left-b {
    0% {
        -moz-transform: translateY(15px);
    }
    50% {
        -moz-transform: translateY(-15px);
    }
    100% {
        -moz-transform: translateY(15px);
    }
}

@keyframes right-b {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes left-b {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(15px);
    }
}


.main {



max-width: 1200px;

position:relative;

}


.bg {
position: absolute;
min-height: 40000% !important;
width: 100%;
max-width: 100%;
vertical-align: middle;
background-size: 100% 100%;
}


.ibg-bg {
position: absolute;z-index: -1;
width: 100%;
height: 100%;
background-size: 100% 100%;
}

img.grayscale {
  filter: grayscale(100%); /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}


.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #F05F40;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #F05F40;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}


.glyphicon-modal-window:before {
  content: "\e237";
}



.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-header:after,
.modal-footer:after {
  clear: both;
}

.glyphicon-modal-window:before {
  content: "\e237";
}


modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}


.modal-header:after,
.modal-footer:after {
  clear: both;
}