/* Custom Stylesheet */



.main {



max-width: 1200px;

position:relative;

}


.bg {
position: absolute;
min-height: 50000% !important;
width: 70em;
vertical-align: middle;
}


.ibg-bg {
position: absolute;z-index: -1;
}